@use "@styles/variables" as var;

@mixin display-flex($dis: flex, $jus: center, $align: none) {
  display: $dis;
  justify-content: $jus;
  align-items: $align;
}

@mixin setPosition($pos: absolute, $top: 0, $right: 0) {
  position: $pos;
  top: $top;
  right: $right;
}

//❗ MEMO: 미디어쿼리 .vue 파일에서 사용법은 믹스인과 같다.
// .test {
//   @include mobile {
//     background: red;
//   }
// }

@mixin mobile {
  @media (max-width: var.$breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: var.$breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: var.$breakpoint-desktop) {
    @content;
  }
}
