.pd {
  &-10 {
    padding: 1rem;
  }
  &-15 {
    padding: 1.5rem;
  }
  &-r-l-10 {
    padding: 0 1rem;
  }
  &-t-bt-5 {
    padding: 0.5rem 0;
  }
  &-t-bt-10 {
    padding: 1rem 0;
  }
}

.mg {
  &-10 {
    margin: 1rem;
  }
  &-15 {
    margin: 1.5rem;
  }
  &-t-10 {
    margin-top: 1rem;
  }
  &-b-10 {
    margin-bottom: 1rem;
  }
  &-r-l-10 {
    margin: 0 1rem;
  }
  &-t-bt-5 {
    margin: 0.5rem 0;
  }
  &-t-bt-10 {
    margin: 1rem 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  //grid-template-rows: repeat(3, minmax(100px, auto));
  //background-color: rgba(11, 19, 43, 0.5);
}
