//palette-color
$core-blue: #5865f2;
$core-blurple: #e0e3ff;

$dark-blue: #19175c;
$dark-green: #002920;
$dark-pink: #381f2c;

$light-green: #35ed7e;
$light-pink: #ff4cd2;

$pastel-blurple: #e0e3ff;
$pastel-green: #c8ffef;
$pastel-pink: #f5c9ff;
